body {
    text-align: center;
    background: bisque;
    margin: 0;
    padding: 0;
}
#header {
    background: white;
    width: 100%;
    margin: 0;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
}  
#name {
    background: #4aaaa5;
    width: 270px;
    margin: 0;
    padding: 25px 20px 25px 20px;
    position: relative;
    left: 290px;
}
#pcon {
    background: white;
    width: 260px;
    clear: both;
    float: right;
    padding: 25px 0 25px 0;
    position: relative;
    right: 290px;
    bottom: 100px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: gray;
}
#three {
    float: left;
    width: 33.3%
}
#two {
    float: left;
    width: 33.3%
}
#one {
    float: left;
    width: 33.3%
}
#main {
    background: #ffffff;
    width: 960px;
    clear: both;
    margin: 0 auto;
    position: relative;
    bottom: 50px;
    height: 450px;
    padding-top: 20px;
}
#contact {
    text-align: left;
    color: #4aaaa5;
    position: relative;
    left: 25px;
}
#box1 {
    width: 93%;
}
#box2 {
    width: 93%;
}
#box3 {
    width: 93%;
    height: 85px;
}
#n {
    position: relative;
    right: 45%;
}
#e {
    position: relative;
    right: 45%;
}
#m {
    position: relative;
    right: 44%;
}
#btn {
    clear: both;
    background: #4aaaa5;
    position: relative;
    right: 44%;
    color: white;
    padding: 5px 10px 5px 10px;
}